<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Email settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>julianxiao@gmail.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>emailFrom_preference</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Email from</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>julianxiao@gmail.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>username_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>password_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>smtp.gmail.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>mailServer_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Mail server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>secure_preference</string>
			<key>Title</key>
			<string>Secure connection</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>how28donut@photos.flickr.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>emailTo_preference</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Email image to</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>Time Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>9</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>startTime_preference</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Start hour</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>17</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>endTime_preference</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>End hour</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>New item</key>
			<dict>
				<key>AutocapitalizationType</key>
				<string>None</string>
				<key>AutocorrectionType</key>
				<string>No</string>
				<key>DefaultValue</key>
				<string>julianxiao@gmail.com</string>
				<key>IsSecure</key>
				<false/>
				<key>Key</key>
				<string>name_preference</string>
				<key>KeyboardType</key>
				<string>EmailAddress</string>
				<key>Title</key>
				<string>Email address (from)</string>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>Camera Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>hide_preference</string>
			<key>Title</key>
			<string>Hide camera</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Response time</string>
			<key>Key</key>
			<string>lable</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>8</integer>
			<key>Key</key>
			<string>startTime_preference</string>
			<key>MaximumValue</key>
			<integer>24</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
