<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>January 1, 2012</string>
		<key>summary</key>
		<string>Completion time: 2 minutes, Score: 19/20</string>
		<key>mistakes</key>
		<string>1+1=3;</string>
	</dict>
</array>
</plist>
